#sum nice grep shit (ignorecase, ExtendedRegex, linenumber, recursive, Ignorebinaryfiles)
alias greps='grep -iEnrI'

#launcher
alias launcherBottom='gsettings set com.canonical.Unity.Launcher launcher-position Bottom'
alias launcherLeft='gsettings set com.canonical.Unity.Launcher launcher-position Left'

#copy pasta
alias copy='xclip -selection c'
alias paste='xclip -selection clipboard -o'

#display-link
alias displaylink='xrandr --setprovideroutputsource 2 0'
alias one="xrandr --output VIRTUAL1 --off --output DP1 --off --output HDMI2 --off --output HDMI1 --off --output eDP1 --primary --mode 1920x1080 --pos 0x0 --rotate normal --output DVI-I-1 --off"
alias two="xrandr --output HDMI2 --primary --auto --pos 0x0 --output DVI-I-1 --auto --pos 1920x0 --output eDP1 --off"
alias three="xrandr --output HDMI2 --auto --pos 0x0 --output DVI-I-1 --auto --pos 1920x0 --output eDP1 --primary --auto --pos 1000x1080"

#vi
alias vi='vim'
alias fv='vim $(fzf)'

#mongodb
alias mongo_start='sudo service mongod start'
alias mongo_log='tail -f /var/log/mongodb/mongod.log'
alias mongo_stop='sudo service mongod stop'

#get
alias getshn='gets news.ycombinator.com'
alias gethn='get news.ycombinator.com'
