#!/usr/bin/bash

fs() {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh;
	else
		local arg=-sh;
	fi
	if [[ -n "$@" ]]; then
		du $arg -- "$@" | sort -h;
	else
		du $arg .[^.]* ./* | sort -h;
	fi;
}

weather(){
	if [ $# == 0 ]; then
		curl wttr.in/
	else
		curl wttr.in/$1
	fi
}

gets(){
	if [ $# != 1 ]; then
		echo "Usage: get <URL>"
		return
	fi
	wget -O - $1 | perl6 -MHTML::Strip -ne 'strip_html($_).say'
}

getw(){
	if [ $# != 1 ]; then
		echo "Usage: get <URL>"
		return
	fi
	wget -O - 'en.wikipedia.org/wiki/'$1 | perl6 -MHTML::Strip -ne 'strip_html($_).say'
}

get(){
	if [ $# != 1 ]; then
		echo "Usage: get <URL>"
		return
	fi
	wget -O - $1 | perl6 -MHTML::Strip -ne '$_.say'
}

killall(){
	if [ $# != 1 ]; then
		echo "Usage: killall <CMD>"
		return
	fi
	kill -9 $(ps -A | grep $1 | awk '{print $1}')
}
